# PyCitySchools Analysis #
* analysis here

In [1]:
!pwd

/Users/grantgorham/Documents/GitHub/pandas-challenge/PyCitySchools

In [2]:
# Dependencies and Setup adding the pandas library and path to read raw data(csv files)
import pandas as pd
from pathlib import Path 

#load files using the correct path
school_data_path=Path('Resources/schools_complete.csv')
student_data_path=Path('Resources/students_complete.csv')

#use read csv to read the csv files and store as a pandas data frame
school_df=pd.read_csv(school_data_path)
student_df=pd.read_csv(student_data_path)

#merge data into a single data frame
school_student_df = pd.merge(student_df, school_df, how='right', on=['school_name','school_name'])
school_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary #

In [3]:
#numbe of unique school
school_count=school_student_df['school_name'].nunique()
school_count

15

In [4]:
#number of total students
student_count=school_student_df['student_name'].count()
student_count

39170

In [5]:
#total budget 
total_budget=school_df['budget'].sum()
total_budget

24649428

In [6]:
#budget per student 
budget_per_student=total_budget/student_count
budget_per_student

629.2935409752362

In [7]:
#calculate average math school 
avg_math_score=school_student_df['math_score'].mean()
avg_math_score

78.98537145774827

In [8]:
#calculate the average reading score
avg_reading_score=school_student_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [9]:
#calculate the number of students who passed math (passing is a score greater than or euqal to 70)
passing_math=school_student_df[(school_student_df['math_score']>=70)].count()['student_name']
passing_math=(passing_math/student_count)*100
passing_math

74.9808526933878

In [10]:
#calculate the number of students who passed reading (passing is a score greater than or euqal to 70)
passing_reading=school_student_df[(school_student_df['reading_score']>=70)].count()['student_name']
passing_reading=(passing_reading/student_count)*100
passing_reading

85.80546336482001

In [11]:
#calculate the amountof students that passed math and reading (passing is greater than 70 on both tests)
passed_both=school_student_df[(school_student_df['math_score']>=70) & (school_student_df['reading_score']>=70)].count()['student_name']
passed_both=(passed_both/student_count)*100
passed_both

65.17232575950983

In [12]:
#create a snapshot of the data

data_for_snapshot= {'Number of Schools':[school_count],'Total Students':[student_count],'Total Budget':[total_budget],'Budget per Student':[budget_per_student],
                    'Avg Math Score':[avg_math_score],'Avg Reading Score':[avg_reading_score],
                    '% Passing Math':[passing_math],'% Passing Reading':[passing_reading],'% Overall Passing':[passed_both]}
                    
district_summary=pd.DataFrame(data_for_snapshot,columns=['Number of Schools','Total Students','Total Budget','Budget per Student',
                                                         'Avg Math Score','Avg Reading Score','% Passing Math',
                                                         '% Passing Reading','% Overall Passing'])

#formatting
district_summary['Total Students']=district_summary['Total Students'].map("{:,}".format)
district_summary['Total Budget']=district_summary['Total Budget'].map("${:,.2f}".format)

district_summary

,Number of Schools,Total Students,Total Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",629.293541,78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary #

In [15]:
# create a schools type 
school_types=school_df.set_index(['school_name'])['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [17]:
#calculate the total student count per school
per_school_count=school_df.set_index(['school_name'])['size']
per_school_count

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [27]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget=school_df.set_index(['school_name'])['budget']
per_school_budget
per_school_capita=per_school_budget/per_school_count
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [ ]:
# Calculate the average test scores per school from school_student_df
per_school_math=